body {
  background-color: #f6f6f6;
}

.comm-left {
  background-color: #FFF;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

.comm-box {
  background-color: #FFF;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}

.comm-main {
  margin-top: 0.5rem;
}

.list-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}

.list-context {
  color: #777;
  padding: 0.5rem;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}

.list-icon span {
  display: inline-block;
  padding: 0 10px;
}

/* 图片样式 */
.list-context img,
.detailed-content img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  max-width: 1000px !important;
  display: block;
  margin: 8px auto;
}


/* markdown解析样式 */
pre {
  display: block;
  background-color: #f3f3f3;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: serif;
  border-radius: 0.3rem;
}

pre {
  background-color: #283646 !important;
}

pre>code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
}

code {
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color: #4f4f4f;
  margin: 0 3px;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.8em 0;
}

blockquote {
  border-left: 4px solid #42b983;
  padding: 10px 15px;
  color: #777;
  background-color: rgba(66, 185, 131, .1);
}

table {
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #fafafa;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}